body {
    background-color: rgb(54, 127, 222);
    /*background-image: linear-gradient(#d75764, #8fc9e7, #ffffff);*/
    font-family: "Bebas Neue";
}
.navbar-light bg-light navbar navbar-expand-sm {
    background-color: #3898EC;
}

.nav {
    background-color: #ffffff;
}
/*.navbar img {
    width: auto;
    height: 5em;
    alignment: center;
    padding: 1em;
}*/